POSTGRES_DB=agentshield
POSTGRES_USER=agentshield
POSTGRES_PASSWORD=agentshield_local_password
POSTGRES_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=3000
MODEL_PROVIDER=rules
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=qwen2.5:3b
